@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');


#navbar {
    background-color: rgba(0, 0, 0);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}

:root {
    --primary-color: white;
}

html, body {
    height: 100%;
  }

body {
    font-family: 'Autour One', cursive;
    display: flex;
    flex-direction: column;
}

#logo {
    font-weight: bold;
    font-size: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar a {
    color: var(--primary-color);
    text-decoration: none;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background-color: red;
    border-radius: 5px;
    color: black;
}

@media only screen and (max-width: 700px) {
    #navbar ul {
        margin-top: 1rem;
    }
}

.text-primary {
    color: rgb(255, 255, 255);
    padding-bottom: 30px;
}

img {
    width: 350.6px;
    height: 500px;

}
 .logo {
    height: 45px;
    width: 45px;
    vertical-align: bottom;
 }
 
@media only screen and (max-width: 700px) {
    #navbar ul {
        margin-top: 1rem;
    }
}

  
h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}
  
  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: white;
}
  
.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem #2BE1F0;
}

@media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: #333;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .code {
    color: black;
    transition: color 0.3s ease-out;
  }

  .project:hover .code {
    color: white;
  }
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 1.5rem;
    padding: 2rem 0.5rem;
  }

  .container {
    max-width: 1000px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
    text-align: center;
 }

 .bg-dark {
    background: black;
    color: white;
}

.text-center {
    text-align: center;
 }

 .py-1 {
    padding: 0rem 0;
 }